.section__and__container {
    display: flex;
    flex-direction: column;
    background-color: var(--mdg-darken-color);
    & .injector {
        display: flex;
        flex-direction: row;
    }
    & .injector {
        width: 100%;
        display: flex;
        flex-direction: row;
    }
    & .viewer {
        width: 100%;
        height: 100%;
        max-height: 50vh;
        overflow-y: scroll;
        flex-wrap: nowrap;
        background-color: var(--lg-300);
    }
    & .half-list {
        padding: 13px 0;
        & form {
            width: 100%;
            display: flex;
            flex-direction: column;
            & label {
                margin-left: 5%;
            }
            & input {
                width: 90%;
                margin-right: auto;
                margin-left: auto;
            }
        }
    }
    & .main__form {
        width: 100%;
    }
    & .main__form__body {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        & fieldset {
            width: 90%;
        }
    }
}

@media screen and (min-width: 760px){
    .section__and__container {
        width: 100%;
        height: 80vh;
        display: flex;
        flex-direction: row;
        padding: 13px 3px;
        & h2, h3, h4 {
            text-align: center;
        }

        & .injector {
            width: 40%;
            flex-direction: column;
        }
        & .viewer {
            width: 60%;
            height: 100%;
            max-height: 85vh;
            margin-left: 8px;
            overflow-y: scroll;
        }
        & .main__form__body {
            display: flex;
            flex-direction: column;
            & div {
                display: flex;
            }
            & input {
                width : 90%;
            }
            & button{
                width: 30%;
            }
        }

        & .half-list {
            background-color: var(--lg-300);
            display: flex;
            flex-direction: column;
            height: 100%;
            justify-content: flex-start;
            overflow-y: scroll;
            & h4, h5, h6, p {
                color: var(--lg-600);
            }
            & a  {
                color: var(--visited);
            }
        }
        & .Card-list{
            background-color: var(--lg-100);
            color: var(--lg-100);
            text-align: left;
            border-radius: 13px;
            justify-content: center;
            margin-top: 13px;
            & .Card-list__checker{
                display: flex;
                gap: 13px;
                & input{
                    transform: scale(1.62);
                }
            }
            &  .Card-list__header {
                display: flex;
                justify-content: space-evenly;
            }
            & .Card-list__body {
                padding: 13px 21px;
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
        }

    }

}
